/* Global styling */

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section {
    width: 100%;
    display: inline-block;
}

/* Header styling */

.header {
    text-align: center;
    background: linear-gradient(to right, #1D5895 0%, #23975D 100%);
    /* add browser compatiblity */
    padding: 15px 0px 15px 0px;
}

.header>h1 {
    font-size: 3rem;
    color: #ffffff;
}

/* Search styling */

.search {
    padding: 20px 20px 10px 20px;
    height: 60px;
}

.search>input {
    height: 95%;
    padding-left: 5px;
    width: calc(100% - 130px);
    border-radius: 2px;
    border: 1px solid #aaaaaa;
    font-size: 1.4rem;
    margin-right: 10px;
    vertical-align: bottom;
}

.search>button {
    height: 100%;
    width: 60px;
    border-radius: 3px;
    background-color: #269B66;
    color: #ffffff;
    border: none;
    font-size: 2.1rem;
    margin-left: 10px;
    vertical-align: top;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(38, 155, 102, 0.4);
    -moz-box-shadow: 0px 0px 10px -2px rgba(38, 155, 102, 0.4);
    box-shadow: 0px 0px 10px -2px rgba(38, 155, 102, 0.4);
}

/* Results styling */
.results {
    padding: 0px 20px 20px 20px;
}

/* Favourites styling */
.favourites {
    padding: 0px 20px 20px 20px;
    background-color: #F7FEFA;
}

.favourites > h1 {
    color: #23965E;
    font-size: 2.2rem;
}

/* Results + Favourites styling */
.results, .favourites {
    font-size: 1.2rem;
}

.fa-star {
    color: #A5A5A5;
}

.fa-star:hover { 
    color: rgb(83, 83, 83);
    transition: 0.1s ease-in-out;
}

td { 
    padding: 10px;
}